[submodule "actionbarsherlock"]
	path = actionbarsherlock
	url = git@github.com:owncloudChalmers/ActionBarSherlock.git
[submodule "owncloud-android-library"]
	path = owncloud-android-library
	url = git@github.com:owncloudChalmers/android-library.git
